<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Form pengisian matkul</h1>
    <form>
      <input name="nama" id="nama" type="text" placeholder="nama matkul" />
      <input name="dosen" id="dosen" type="text" placeholder="nama dosen" />
      <button type="submit">submit</button>
    </form>
    <table>
      <thead>
        <th>No.</th>
        <th>Dosen</th>
      </thead>
    </table>
  </body>
  <script>
    const form = document.querySelector("form");

    form.addEventListener("submit", (event) => {
      const nama = document.getElementById("nama").value;
      const dosen = document.getElementById("dosen").value;
      fetch("http://localhost:3001/postdata", {
        method: "POST",
        headers: {
          "Content-type": "application/json",
        },
        body: JSON.stringify({
          nama: nama, //cek di server u/ id objectnya
          dosen: dosen,
        }),
      });
    });

    const noTabel = document.getElementById("noTabel");
    const namaDosen = document.getElementById("namaDosen");
  </script>
</html>
